:root {
  background-color: #aa96da;
}

.grilla {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: auto;
  gap: 20px;
}

.fondoGrilla {
  background-color: #fcbad3;
}

.alineamientoFoto {
  display: flex;
  flex-direction: column; /*La direccion en la que va a estar el contendio */
  align-items: center; /* Alinea el contenido al centro*/
}
