:root {
  --bg-color: #31363F;
  --text-color: #FFFFFF;
  --link-color: #000000;
  --header-footer-bg-color: #31363F;
  --header-footer-text-color: #FFFFFF;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



